* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #e0e0e0;
  color: #1d1d1d;
  background: #423b54;
  color: white;

}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto 100px auto;
  padding: 3rem;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    padding: 2rem;
  }
}
